/* General Card Container */
.project-card {
  border-radius: 12px;
  box-shadow: -5px 7px 19px 8px rgb(147 144 144 / 87%);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height:500px;
}
.project-card-dark{
  background: radial-gradient(circle at 10% 20%, rgb(97 97 97) 0%, rgb(76 76 76) 90.2%);
  box-shadow: -5px 7px 19px 8px rgb(147 144 144 / 87%);
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Title Styling */
.project-card h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Image Styling */
.project-card .image-property {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.project-card .image-property img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

/* Description */
.project-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Buttons */
.project-card a.cta-btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.project-card a.cta-btn:hover {
  background-color: #00b393;
}

/* Tech Stack */
.project-card .tech-stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.project-card .tech {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: -1px 1px 12px -1px #0000008a;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .project-card {
    padding: 15px;
  }

  .project-card h3 {
    font-size: 1.5rem;
  }

  .project-card .tech {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
