.scroll-top-btn {
  position: fixed;
  z-index: 100000;
  font-size: 40px;
  top: 50%;
  right: 5%;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -1px 1px 12px -1px rgb(147 144 144 / 87%);
}
