/* .navigation {
  border: 1px solid #00cdac;
  border-radius: 100px;
  width: 80%;
  margin: 10px auto;
  background: linear-gradient(
    0deg,
    rgba(34, 195, 82, 1) 0%,
    rgba(37, 195, 189, 1) 25%,
    rgba(0, 205, 172, 1) 88%
  );
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation ul li {
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.navigation ul li:hover {
  border-radius: 18px;
  color: wheat;
  border-bottom: 1px solid wheat;
} */

.header {
   display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: fixed; 
  z-index: 10000;
  width: 80%;
  margin: 10px auto;
}
.navigation {
  width: 20%;
  text-align: left;
  /* position: fixed; */
  z-index: 10000;
}
.navigation ul {
  font-size: 25px;
  line-height: 5;
  border-radius: 10px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
}
/* .header{
  width: 80%;
margin: 10px auto;
} */
.themeChange {
  position: fixed;
  right: 0;
  top: 10px;
}
