.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  margin: 10px auto;
}
.navigation,
.darknavigation {
  margin: 0px auto;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  box-shadow: -1px 1px 12px -1px rgba(0, 0, 0, 0.54);
  border-radius: 60px;
  font-weight: 600;
}
.navigation ul,
.darknavigation ul {
  display: flex;
  margin: 10px auto;
  padding: 0;
  /* padding-left: 15px; */
}
.navigation ul li,
.darknavigation ul li {
  padding: 0px 15px;
  color: rgb(20, 19, 19);
  cursor: pointer;
}

.navigation ul li:hover,
.darknavigation ul li:hover {
  border-bottom: 1px solid #a8a8b8;
  transition: 0.8s ease-in-out;
}
.darknavigation {
  box-shadow: -1px 1px 12px -1px rgb(147 144 144 / 87%);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(21 21 21) 0%,
    rgb(64, 64, 64) 90.2%
  );
}
.darknavigation ul li {
  color: #999999;
}

.themeChange {
  margin-right: 15px;
}
.nav-logo {
  width: 80px;
}

.nav-logo img {
  width: 100%;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.social-media {
  position: fixed;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  font-size: 30px;
}

.social-media a {
  margin-top: 5px;
  cursor: pointer;
}

.social-media a:hover {
  color: #00cdac;
}
.call {
  cursor: pointer;
}
.call:hover {
  color: #00cdac;
}
.line {
  border: 1px solid #00cdac;
  width: 1px;
  background-color: #00cdac;
  position: absolute;
  top: 100%;
  left: 40%;
  height: 500px;
}
.active{
  border-bottom: 2px solid #999999;
}
.hamburger-button {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 25px;
}
.call-box{
  position: relative;
}
.number{
  position: absolute;
  font-size: 20px;
  background-color: #00cdac;
  color: aliceblue;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  width: 200px;
  height: 30px;
}
@media (max-width: 800px) {
  .navigation,
  .darknavigation {
    display: none;
  }
  .hamburger-button {
    display: block;
  }

  .hamburger-menu,
  .hamburger-menu-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at 18.7% 37.8%,
      rgb(250, 250, 250) 0%,
      rgb(225, 234, 238) 90%
    );
    z-index: 10000000;
    color: #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideIn 0.5s ease-in-out;
  }
  .hamburger-menu-dark {
    background: radial-gradient(
      circle at 10% 20%,
      rgb(21 21 21) 0%,
      rgb(64, 64, 64) 90.2%
    );
  }

  .close-hamb {
    font-size: 35px;
    /* animation: slideOut 0.5s ease-in-out; */
  }
  .hamburger-menu ul,
  .hamburger-menu-dark ul {
    list-style: none;
    padding: 0;
  }

  .hamburger-menu ul li,
  .hamburger-menu-dark ul li {
    padding: 10px;
    cursor: pointer;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}
