.ContactForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

form input,
textarea {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  margin: 5px auto;
  width: 250px;
  font-size: 15px;
  font-weight: 600;
}

.name,
.email {
  height: 25px;
  font-size: 15px;
  font-weight: 600;
}
.area {
  height: 200px;
}
.form-submit {
  background-color: inherit;
  color: #00cdac;
  border: 2px solid #00cdac;
  cursor: pointer;
  border-radius: 0px;

}
.AnimationImage{
    width: 500px;
    margin-right: 10px;
}
.form-submit:hover {
  background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
  color: white;
}

@media (max-width: 800px) {
    .ContactForm{
      flex-direction: column;
    }
    .AnimationImage {
      width: 300px;
      margin: 10px auto;
    }
}
